<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">BURGERS</h1>
            <p class="lead text-muted">These burgers are yet to be eaten.</p>
            <br>
            <div class="d-grid gap-3">
                {{#each burgers}}
                {{#unless this.devoured}}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex justify-content-start">
                                <h4 class="fw-light">{{this.id}}. {{this.burger_name}}
                                </h4>
                            </div>
                            <div class="col">
                                <form class="eatBurger">
                                    <input input type="hidden" class="burger_id" type="text" value={{this.id}}>
                                    <button type="submit" class="btn btn-dark">Devour it!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
    </div>

        <div class="col-lg-6 col-md-8 mx-auto">
            {{#each burgers}}
            {{#if this.devoured}}
            <input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
            {{/if}}
            {{/each}}
        </div>
<br>
    <div class="col-lg-6 col-md-8 mx-auto">
        <div>
            <div>
                <form action="/api/burgers" method="POST">
                    <div class="row">
                        <div class="col-8">
                            <input type="text" class="form-control" name="burgerName" value="" id="enter_text">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-dark justify-content-end"
                                id="text-enter-button">Submit</button>
                        </div>
                </form>
            </div>
            <br>
            <p class="lead text-muted">Enter a burger you want to eat then Click the "Submit" button.</p>
        </div>
    </div>
    </div>

    </section>
